<div class="search form">
  <form class="user search" action="index.html" method="post">
    <input type="text" name="" value="" id="search_query">
    <button type="button" name="button" id="search_button">Search</button>
  </form>
</div>
