<div class="container">
  <div class="col-md-8">
    <% if(isLoggedIn) { %>
      <p>Logged in as <%= currentUser.local.name %></p>
      <a href="/profile" class="btn btn-clear">My Profile</a>
      <a href="/logout" class="btn btn-clear">Logout</a>
    <% } %>
  </div>

<div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>Ctrl+F</h1>
    <% if (!isLoggedIn) { %>
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/signup" class="btn btn-default">Signup</a>
    <% } %>
    <hr>
</div>

<div class="search form">
    <input type="text" name="" value="" placeholder="Search text..."  id="search_text"><br /><br />
    <center>
      <button type="button" name="button" id="search">Search</button>
    </center>
</div>

<div class="search_results" id="search_results" style="list-style: none">
  <ul>

  </ul>
</div>
</div>

<script>
  // Global variables used throughout the code
  var $searchText = $('#search_text')
  var $searchBtn = $('#search')
  var $searchResults = $('#search_results')
  var $searchResult = $('.search_result')
  var myVar

  // This checks if used pressed enter on the keyboard. If so it "click" on the search button
  $searchText.keyup(function(event){
      if(event.keyCode == 13){
          $searchBtn.click()
      }
  })

  // Add click event listener to search button
  $searchBtn.on('click', function(){
    startRetrievingResultsAnimation()
    var filterText = $searchText.val()
    var requestSettings = {
      method: 'post',
      url: '/search/',
      data: JSON.stringify({text: filterText}),
      contentType:'application/json'
      }

    $.ajax(requestSettings).done(function(rawResults) {
      stopTimer()
      displayResults(rawResults)
      displayNumberOfComments(rawResults)
    })
  })


  function displayNumberOfComments(rawResults){
    // console.log(typeof rawResults.webpages);
    // $("#comment" + 4).html("Hi")
    // console.log(rawResults.webpages.length);

    rawResults.webpages.forEach((result) => {
    // console.log("URI: ", result.uri)
    // console.log("Counter: ", counter)
    var requestSettings = {
      method: 'post',
      url: '/webpages/findComments',
      data: JSON.stringify({url: result.uri}),
      contentType:'application/json'
      }

      // console.log("URL before ajax call is: ", result.uri);
      closureFunction(result.uri)

    function closureFunction(uri){
      var url = uri
      counter = 0
      $.ajax(requestSettings).done(function(commentsLength) {
        counter++
        $("#comment" + result.index).html("Comments (" + commentsLength + ") ")
        })
    }


        // location.href = `webpages/${pageID}`
      }) // Closes for loop
    }


  // Helper function to append returned results to the searchResults div
  function displayResults(rawResults){
    $searchResults.html("")
    var count = 0
    rawResults.webpages.forEach((result) => {
    var result_uri = result.uri
    $searchResults.append(`<li class="search_result_li">
                                <span class="search_result_name" id='${count}' url="${result.uri}" style="cursor:pointer">${result.name}</span><br>
                                            ${result.snippet}<br>
                                <span class="search_result_url" id='${count}' url="${result.uri}" style="cursor:pointer">${result.displayUrl}</span>

                                <span class="comments" id='comment${count}'> </span><br>
                                <span class="helpful_link" id='helpful${count}' url="${result.uri}">This page was helpful </span><br>
                            </li>`)


   $('#helpful' + count).on("click", function(){
     var url = $(this).attr("url")
     console.log(url);

     var requestSettings = {
       method: 'patch',
       url: '/webpages/increaseHelpfulCount/',
       data: JSON.stringify({url: url }),
       contentType:'application/json',
      }

     $.ajax(requestSettings).done(function(pageID) {
          $('#helpful' + count).html("Thanks for letting us know 👍 ")
      })
   })

   $('#' + count).on("click", function(){
      var requestSettings = {
        method: 'post',
        url: '/webpages/createOrFind/',
        data: JSON.stringify({url: $(this).attr("url")}),
        contentType:'application/json'
        }

      $.ajax(requestSettings).done(function(pageID) {
          location.href = `webpages/${pageID}`

      })
    })
    count++
  }
)}


  // Check if there is some text in the text box when this page is reached
  // This is to allow previous search results to be retrieved and displayed again after user comes back to the apge
  if($searchText.val() && $searchText.val() != "" ){
    $searchBtn.click()
  }

  // The next three functions are to display a message while results are being fetched
  var counter = 0
  function startRetrievingResultsAnimation(){
    myVar = setInterval(function(){ myTimer() }, 1000)
  }

  function myTimer() {
    counter++
    $searchResults.html("<br /><br><center><h2>Searching." + new Array(counter % 10).join('.') + "</h2></center>")
    }

  function stopTimer() {
      clearInterval(myVar)
  }

</script>
