<div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>Ctl+F Login</h1>
    <h3>Login or Sign Up:</h3>
    <a href="/login" class="btn btn-default">Local Login</a>
    <a href="/signup" class="btn btn-default">Local Signup</a>
    <hr>
</div>

<div class="search form">
    <input type="text" name="" value="" placeholder="Search text..."  id="search_text"><br /><br />
    <center>
      <button type="button" name="button" id="search">Search</button>
    </center>
</div>

<div class="search results" id="search_results">
  <ul>

  </ul>
</div>

<script>
  var $searchText = $('#search_text')
  var $searchBtn = $('#search')
  var $searchResults = $('#search_results')
  var myVar


  $searchText.keyup(function(event){
    console.log("key pressed")
      if(event.keyCode == 13){
        console.log("enter pressed")
          $searchBtn.click()
      }
  })

  $searchBtn.on('click', function(){
    console.log("Search Button Clicked")
    startRetrievingResultsAnimation()
    var filterText = $searchText.val()
    var requestSettings = {
      method: 'post',
      url: '/search/',
      data: JSON.stringify({text: filterText}),
      contentType:'application/json'
      }

    $.ajax(requestSettings).done(function(rawResults) {
      console.log("ajax callback entered...");
      // location.hash = filterText;
      stopTimer()
      displayResults(rawResults)

    })
  })

  function displayResults(rawResults){
    $searchResults.html("")
    console.log("rawResults: ", rawResults);
    rawResults.webpages.forEach((result) => {
      $searchResults.append(`<li>
                                <a href="${result.uri}">${result.name}</a><br>
                                            ${result.snippet}<br>
                                <a href="${result.uri}"> ${result.displayUrl}</a><br>
                            </li>`)
    })
  }

  if($searchText.val() && $searchText.val() != "" ){
    console.log("Value in search box recognized")
    $searchBtn.click()

  }

  var counter = 0
  function startRetrievingResultsAnimation(){
    myVar = setInterval(function(){ myTimer() }, 1000)
  }

  function myTimer() {
    // $searchResults.html()
    counter++
    $searchResults.html("<br /><br><center><h2>Searching." + new Array(counter % 10).join('.') + "</h2></center>")
    }

  function stopTimer() {
      clearInterval(myVar)
  }

</script>
