<!DOCTYPE html>
<html>
<head>
	<title>Ctrl+F</title>
	<link rel="stylesheet" href="/css/milligram.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- <script src="http://github.com/cowboy/jquery-hashchange/raw/master/jquery.ba-hashchange.min.js" charset="utf-8"></script> -->
	<!-- <script src="/js/socket.io.js"></script> -->
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>


		<%- body %>


</body>
</html>
