/* Show page css */
.container {
  margin-top: 5%
}
.internal {
  width: 100%;
  height: 100%;
}

.webpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

iframe {
  border-style: none
}

button {
  color: white;
}

.dropdown {
  text-align: left;
  margin-left: 10px;
}

#search, .update-button {
  border: 0px;
  background-color: #F1F1F1;
  color: black;
  border-radius: 1px;
}
.update-button {
  border-radius: 5px;
  font-size: 12px;
  margin-top: 4.5px;
  height: 25px;
  width: 50px;
  padding-left: 3.5px;
}
#edit-form {
  width: 80%;
  margin: 0 auto;
}
#comment-submit {
  border: 1px solid black;
  background-color: #F1F1F1;
  color: black;
  border-radius: 1px;
}

.appDisplay {
  text-align: center;
  z-index: 100;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  display: none;
  padding-bottom: 30px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#toggle-app-display {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 auto;
  z-index: 100000;
  border: 1px solid grey;
  border-bottom: 0px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-color: rgba(255,255,255,.9);
  padding: 0 5px;
  color: white;
  cursor: pointer;
}

#close-app-display {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

#display-comments {
  list-style: none;
  padding-left: 20px;
}

.deleteEdit {
  display: inline;
  font-size: 12px;
  padding: .3%;
}

.comment {
  border: .5px solid black;
  border-radius: 10px;
  background-color: rgba(250,250,250, .85);
  box-shadow: 3px 3px 3px lightgrey;
  margin: 5px;
  padding: 5px 0;
}

.delete-comment, .edit-comment-button {
  color: grey;
  cursor: pointer;
}

.delete-comment:hover, .edit-comment-button:hover  {
  color: darkgrey;
}

.search_result_name {

  font-weight: 400;
  color: #000099;
  list-style: none;
}

.search_result_url {
  font-weight: 400;
  color: green;
  list-style: none;
}

.search_result_name:hover, .search_result_url:hover {
  text-decoration: underline;

}

.search_result_li {
  padding-bottom: 20px;
}
